body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
}
input{
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    margin: 24px 0;
}